body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-32px;
  width:673px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:32px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:307px;
  top:31px;
  width:122px;
  height:32px;
  display:flex;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:46px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:84px;
  width:176px;
  height:46px;
  display:flex;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:229px;
  width:100px;
  height:36px;
  display:flex;
}
#u233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:229px;
  width:100px;
  height:30px;
  display:flex;
}
#u234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:235px;
  width:100px;
  height:30px;
  display:flex;
}
#u235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:229px;
  width:100px;
  height:30px;
  display:flex;
}
#u236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:47px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:341px;
  width:114px;
  height:47px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:63px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:26px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:18px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:38px;
  width:296px;
  height:10px;
}
#u239_seg2 {
  border-width:0px;
  position:absolute;
  left:-291px;
  top:38px;
  width:10px;
  height:61px;
}
#u239_seg3 {
  border-width:0px;
  position:absolute;
  left:-295px;
  top:89px;
  width:18px;
  height:18px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-200px;
  top:36px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:79px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:69px;
  width:170px;
  height:10px;
}
#u240_seg2 {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:69px;
  width:10px;
  height:30px;
}
#u240_seg3 {
  border-width:0px;
  position:absolute;
  left:-169px;
  top:89px;
  width:18px;
  height:18px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:66px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:73px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:63px;
  width:152px;
  height:10px;
}
#u241_seg2 {
  border-width:0px;
  position:absolute;
  left:137px;
  top:63px;
  width:10px;
  height:42px;
}
#u241_seg3 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:95px;
  width:18px;
  height:18px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:60px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:130px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:32px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:22px;
  width:297px;
  height:10px;
}
#u242_seg2 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:22px;
  width:10px;
  height:77px;
}
#u242_seg3 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:89px;
  width:18px;
  height:18px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:116px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:265px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:50px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:40px;
  width:300px;
  height:10px;
}
#u243_seg2 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:40px;
  width:10px;
  height:36px;
}
#u243_seg3 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:66px;
  width:18px;
  height:18px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:88px;
  top:37px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:259px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:174px;
  height:10px;
}
#u244_seg2 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:20px;
  width:10px;
  height:62px;
}
#u244_seg3 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:72px;
  width:18px;
  height:18px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:265px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:35px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:25px;
  width:148px;
  height:10px;
}
#u245_seg2 {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:25px;
  width:10px;
  height:51px;
}
#u245_seg3 {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:66px;
  width:18px;
  height:18px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-127px;
  top:22px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:259px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:62px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-288px;
  top:52px;
  width:293px;
  height:10px;
}
#u246_seg2 {
  border-width:0px;
  position:absolute;
  left:-288px;
  top:52px;
  width:10px;
  height:30px;
}
#u246_seg3 {
  border-width:0px;
  position:absolute;
  left:-292px;
  top:72px;
  width:18px;
  height:18px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:49px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
